/*
1. posicionamiento
2. box model
3. tipografias
4. visualizaciones
5. otros
*/
:root{
   --bitcoin-orange : #F7931A;
   --soft-orange: #FFE9D5;
   --secondary-blue:#1A9AF7;
   --soft-blue: #E7F5FF;
   --warm-black:#201E1C;
   --warm-black1:#282623; 
   --grey:#BABABA;
   --off-white:#FAF8F7;
   --just-white:#FFFFFF;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: "DM sans", sans-serif;
}
header{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img{
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}
.header--titulo-contenedor{
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header--titulo-contenedor h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
  }
  .header--titulo-contenedor p{
    margin-top: 25px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color:  var(--soft-orange);
  }
  .header--titulo-contenedor .header--bottom{
    position: absolute;
    top: 270px;
    left: calc(50% - 118px);
    margin-top: 35px;
    width: 229px;
    height: 48px;
    display: block;
    padding: 15px;
    background: var(--off-white);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 1.6);
    color: var(--warm-black);
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.8rem;
  }

  .header--bottom span
  {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
  }
  /* seccion 2  */
  main{
    width: 100%;
    height: auto;
    min-width: 320px;
    background: var(--off-white);
  }
 .main_contenido__monedas{
    width: 100%;
    height: auto;
    padding-top:80px;
    padding-bottom: 35px;
    text-align: center; 
   
  }
  .main_contenido__titulo{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
  }
  .main_contenido__monedas .main_contenido__imagen{
    width: 200px;
    height: 200px;
    margin:  0 auto;
    margin-bottom: 50px;
    background-image: url("../assets/img/Bitcoin.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main_contenido__titulo h2{
    margin-bottom: 35px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
  }
  
  .main_contenido__titulo p{
     font-size: 1.4rem;
     line-height: 1.8rem;
     font-weight: 500;
     color: #757575; 
     margin-bottom: 30px;
    }
  .main_moneda__actual ,.main_moneda__comisiones{

      width: 70%;
      min-width: 235px ;
      max-width: 500px;
      height: 336px;
      margin: 0 auto;
      font-family: "inter", sans-serif;
      margin-bottom: 40px;
    }
    .main_moneda__actual .main_moneda__titulo
    {
      margin-bottom: 15px;
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 2.3rem;
      color:  var(--bitcoin-orange);
      text-align: left;
    }
    .main_tabla__contenedora{
      width: 90%;
      min-width: 230px;
      max-width: 300px;
      height: 250px;
      margin:  0 auto;
    }
    .main_tabla__contenedora table{
      width: 100%;
      height: 100%;

    }
    .main_tabla__contenedora td{
      width: 50%;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.9rem;
      color: var(--grey);
      background-color: var(--just-white);
    }
    .main_tabla__contenedora .table_top__left{
      border-radius: 15px 0 0 0;
    }
    .main_tabla__contenedora .table_top__rigth{
      border-radius: 0 15px  0 0;
    }
    .main_tabla__contenedora .table__bottom_left{
      border-radius: 0   0  0 15px;
    }
    .main_tabla__contenedora .table__bottom_rigth{
      border-radius:  0  0 15px 0  ;
    }
    .table__rigth
    {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.7rem;
      color: #757575; 
    }
    .main_tabla__contenedora .iconDown{
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-left: 10px;
      background-image: url("../assets/icons/trending-down.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .main_tabla__contenedora .iconUp{
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-left: 10px;
      background-image: url("../assets/icons/trending-up.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

     .main__moneda_arrow
    {
      display: inline-block;
      position: relative;
      left: 55%;
      top: 50%;
      width: 10px;
      height: 15px;
      background-image: url("../assets/icons/right-arrow.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; 

    }
    .main_moneda__actual .main_moneda__fecha ,.main_comisiones__fecha{
        width: 80%;
        height: 3rem;
        padding: 8px;
        background: var(--soft-orange);
        margin: 0 auto;
        border-radius: 8px;
        margin-top: 20px;
        text-align: center;
    }
     .main_moneda__fecha p ,.main_comisiones__fecha p{
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.4rem;
      color: var(--warm-black);
    }
    .main_moneda__comisiones .main_moneda__titulo{
      color: var(--secondary-blue);
      margin-bottom: 15px;
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 2.3rem;
      text-align: left;
    }
    .main_comisiones__fecha{
       
       background: var(--soft-blue);
      
    }
   
    .main__comision_arrow{
      display: inline-block;
      position: relative;
      right: 55%;
      top: 50%;
      width: 10px;
      height: 15px;
      background-image: url("../assets/icons/left-arrow.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .detalles_productos__contenedor{
      width: 100%;
      min-width: 320px;
      height: auto;
      position: relative;  
      padding:20px 10px;  
      background: var(--warm-black);
    }
    .detalles_productos__contenedor .iconoPrincipal{
        position: absolute;
        top: calc(0% - 12.5px);
        left: calc(50% - 20px);
      width: 40px;
      height: 25px;
      background-image: url("../assets/icons/batata.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
     
    }
    .detalles_productos__contenedor .detalles_titulo{
      width: 90%;
      min-width: 288px;
      height: auto;
      margin :  40px auto 0;
      text-align: center;

    }
    .detalles_productos__contenedor .detalles_titulo h2{
      margin-bottom: 20px;
      font-size: 2.4rem;
      font-weight: bold;
      line-height: 2.6rem;
      color: var(--just-white);
    }
     .detalles_productos__contenedor .detalles_titulo p{
      margin-bottom: 20px;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.8rem;
      color: #808080;
     }
     .detalles_tarjeta__general{
       width: 90%;
       min-width: 288px;
       max-width: 400px;
       min-height: 150px;
       margin: 15px auto;
       padding: 15px;
       background: var(--warm-black1);
       border-radius: 5px;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 1.6) 
     }
      .detalles_tarjeta__general .icono{
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-bottom: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      .detalles_tarjetas__titulo{
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 1.8rem;
        color: var(--just-white);
        margin-bottom: 15px;
      }
      .detalles_tarjetas__cuerpo{
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
        color: #808080;
        
      }
      .Relog{
        background-image: url("../assets/icons/clock.svg");
      }
       .ojo{
        background-image: url("../assets/icons/eye.svg");
      }
       .circulo{
        background-image: url("../assets/icons/check-circle.svg");  
      }
       .dollar{
        background-image: url("../assets/icons/dollar-sign.svg");
      }
      .bitcoin_img_contenedor{
        width: 100%;
        min-width: 320px;
        height: 50vh;
        background-image: url('../assets/img/bitcoinbaby2x.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .bitcoin_img_contenedor h2 {
        width: 288px;
        font-size: 2.4rem;
        line-height: 2.6rem;
        text-align: center;
        font-weight: bold;
        color:  var(--just-white);
        padding-top: 60px;
        }